<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous"
/>
  <title>Register</title>
</head>
<body>
  <header>
    <%- include('partials/_header') %>
  </header>

    <h2>To use TinyApp, please register a new account:</h2>

    <form action="/register" method="POST">
      <label for="email">Email:</label>
      <input id="email" type="email" name="email" placeholder="email@example.com" style="width: 300px">
      <label for="password">Password:</label>
      <input id="password" type="password" name="password" placeholder="Choose a secure password!" style="width: 300px">
      <input type="submit" value="Register">
    </form>

    <h2>Already registered? <a href="/login">Click here to login.</a></h2>


</body>
</html>